.back-button-wrapper {
    width: fit-content;
    color: #5A5A5A;
    cursor: pointer;
}

/* Card Header */
.large-title {
    font-size: 72px;
    font-weight: 600;
}
.sub-title {
    font-size: 24px;
    color: #C4C4C4;
}

/* Card Sections */
.section-title {
    font-size: 48px;
}
.new-window-icon {
    width: 14px;
    font-size: 14px;
    vertical-align: top;
}

/* Profiles */
.profile-title {
    font-size: 24px;
    line-height: 24px;
}
.profile-sub-title {
    font-size: 18px;
    color: #C4C4C4;
}
.attendee-card{
    width: 100%;
    border-radius: 24px;
    background-color: #E5E5E5;
}
.attendee-title {
    font-size: 18px;
    line-height: 18px;
}
.attendee-sub-title {
    font-size: 14px;
    color: #C4C4C4;
}