<!-- Back Button Row -->
<div class="row my-4 mx-md-5">
    <div class="col-12">
        <div class="back-button-wrapper v-center" (click)="goBack()">
            <i class="material-icons">arrow_back</i>
            <div>Back</div>
        </div>
    </div>
</div>

<!-- Loading GIF -->
<div class="row my-3 mx-md-5" *ngIf="!(event && eventOrganizers)">
    <div class="col-12">
        <div class="mx-auto" style="width: fit-content;">
            <img class="mx-auto" width="128px" height="auto" src="assets/images/fluid-loader.gif">
        </div>
    </div>
</div>

<!-- Event Detail Card -->
<div class="row my-3 mx-md-5" *ngIf="event && eventOrganizers">
    <div class="col-12">
        <div class="card-wrapper p-4 p-md-5">

            <!-- Card Header -->
            <div class="row">
                <!-- Title Section -->
                <div class="col-lg-4 d-flex flex-column justify-content-between mb-5 mb-lg-0">
                    <div> <!-- This is for flexbox grouping -->
                        <!-- Large Title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="large-title">
                                    {{event.name}}
                                </div>
                            </div>
                        </div>
                        <!-- Sub Title -->
                        <div class="row mb-5">
                            <div class="col-12">
                                <div class="sub-title">
                                    Hosted By {{event.group.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Header Buttons -->
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-row justify-content-between">
                                <div class="card-price v-center">
                                    Free
                                </div>
                                <button type="button" class="btn btn-outline-success pastel w-122" (click)="toggleRegistered()"
                                [ngClass]="{ 'btn-outline-success': !event.currentUserRegistered, 'btn-success': event.currentUserRegistered }">
                                    {{event.currentUserRegistered ? 'Registered' : 'Register'}}
                                </button>
                                <button type="button" class="btn btn-outline-primary pastel v-center">
                                    <i class="material-icons">bookmark_border</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Description -->
                <div class="col-lg-7 offset-lg-1">
                    <p class="mb-0" style="white-space: pre-wrap;">{{event.longDescription}}</p>
                </div>
            </div>

            <!-- Divider -->
            <div class="row my-5">
                <div class="col-12">
                    <div class="divider"></div>
                </div>
            </div>

            <!-- Card When and Where -->
            <div class="row">
                <!-- When and Where -->
                <div class="col-lg-4 mb-5 mb-lg-0 text-lg-left text-center">
                    <!-- When - Section Title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                When
                            </div>
                        </div>
                    </div>
                    <!-- When - Details -->
                    <div class="row mb-5">
                        <div class="col-12">
                            <div>
                                {{event.startTime | date:'EEEE, MMMM d, y'}}
                            </div> 
                            <div>
                                {{(event.startTime | date:'h:mm a') + ' - ' + (event.endTime | date:'h:mm a')}}
                            </div> 
                        </div>
                    </div>

                    <!-- Where - Section Title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                Where
                            </div>
                        </div>
                    </div>
                    <!-- Where - Details -->
                    <div class="row">
                        <div class="col-12 mb-2">
                            <div *ngFor="let line of eventService.splitLocation(event.location)">
                                {{line}}
                            </div> 
                        </div>
                        <div class="col-12">
                            <div class="primary-link mx-auto mx-lg-0" (click)="openInMaps('172 St George Street, Toronto, ON')">
                                View In Maps
                                <i class="material-icons primary-link new-window-icon">open_in_new_window</i>
                            </div>
                        </div>
                    </div>
                </div>
          

                    

                <!-- Images -->
                <div class="col-lg-7 offset-lg-1">
                    <div class="v-center" style="height: 350px;">
                        <img class="mx-auto" [src]="event.imageLink" height="auto" width="auto" style="max-height: 350px; max-width: 100%;;">
                    </div>
                </div>
            </div>

            <!-- Divider -->
            <div class="row my-5">
                <div class="col-12">
                    <div class="divider"></div>
                </div>
            </div>

            <!-- Card Panel -->
            <div class="row">
                <!-- Section Title -->
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                Panel
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Panel Information -->
                <div class="col-lg-6" *ngFor="let organizer of eventOrganizers">
                    <div class="row">
                        <!-- Profile Thumbnail -->
                        <div class="col-3 p-2 p-sm-3 p-xl-4 v-center">
                            <div class="thumb-circle-cropper v-center">
                                <img [src]="organizer.imageURL" width="100%" height="auto">
                            </div>
                        </div>

                        <!-- Profile Details -->
                        <div class="col-9 v-center">
                            <div> <!-- For Flexbox Centering-->
                                <!-- Name -->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="profile-title">{{organizer.firstName}} {{organizer.lastName}}</div>
                                        <div class="profile-sub-title">Organizer</div>
                                    </div>
                                </div>

                                <!-- Description/Bio -->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="profile-bio py-2">{{organizer.background}}</div>
                                    </div>
                                </div>

                                <!-- View Profile Link -->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="primary-link" (click)="viewProfile(organizer)">View Profile</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Divider -->
            <div class="row my-5">
                <div class="col-12">
                    <div class="divider"></div>
                </div>
            </div>

            <!-- Attendees -->
            <div class="row mb-3">
                <div class="col-12">
                    <div class="section-title">
                        Attendees
                    </div>
                </div>
            </div> 
            <!-- Attendees Table -->
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12" *ngFor="let profile of eventAttendees">
                    <div class="attendee-card p-2 my-1">
                        <div class="row">
                            <!-- Profile Image Thumbnail -->
                            <div class="col-3">
                                <div class="mx-auto" style="width:64px; height: 64px; position: relative; overflow: hidden; border-radius: 50%;">
                                    <img [src]="profile?.imageURL" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 64px; width: auto;">
                                </div>
                            </div>
                            <!-- Name -->
                            <div class="col-9 v-center">
                                <div class="pl-2"> <!-- Grouping for v-center -->
                                    <div class="attendee-title">
                                        {{profile?.firstName}} {{profile?.lastName}}
                                    </div>
                                    <div class="attendee-sub-title mb-1">
                                        {{profile?.school?.name}}
                                    </div>
                                    <div class="primary-link small" (click)="viewProfile(profile)">
                                        View Profile
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
                        
            <!-- Divider -->
            <div class="row my-5">
                <div class="col-12">
                    <div class="divider"></div>
                </div>
            </div>

            <!-- Card Tags -->
            <div class="row">
                <!-- Section Title -->
                <div class="col-12">
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="section-title">
                                Tags
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tags -->
                <div class="col-12">
                    <div class="d-flex flex-row flex-wrap justify-content-start">
                        <div *ngFor="let tag of event.tags" class="card-tag mr-2 my-1">
                            {{tag.name}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>