.app-wrapper {
    width: 100%;
    height: 100%;
    background-color: #F3F3F3;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

app-navigation-bar {
    z-index: 2;
}

.main-content {
    flex: 1 1 auto;
    overflow-y: scroll; /* IE Compatibility */
    -webkit-overflow-scrolling: touch;
}
.main-content::-webkit-scrollbar {
    width: 5px;
}
.main-content::-webkit-scrollbar-track {
    background-color: #E5E5E5;
}
.main-content::-webkit-scrollbar-thumb {
    background-color: #5A5A5A;
}